.show--profile{
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* transform: translatey(-10%); */
    transition: all 0.3s ;
}


.hide--profile {
    opacity: 0;
    text-align: center;
    transform: translatey(-50%);
    transition: all 0.3s ;
    visibility: hidden;  
}



.hide--nav{
    opacity: 0;
    text-align: center;
    transform: translatey(-200px);
    transition: all 0.5s ;
    visibility: hidden;

}
.show--nav{
    opacity: 1;
    transform: translatey(0px);
    transition: all 0.3s ;
}