<div class="relative">
    <div class=" bg-slate-60   bg-[#fafbfc] px-10 shadow-md fixed top-0  left-0 right-0 z-10  ">
        <ul class="flex items-center justify-between container  py-3 m-auto">

            <li class="flex ">
                <a class="text-lg hidden md:block" routerLink="/dashboard"><img src="../../../assets/images/LOGO.svg"></a>
                <a (click)="showsidebar()"><i
                        class=" md:hidden block bi bi-list text-2xl text-gray-800 cursor-pointer "></i></a>
            </li>

            <li class=" flex lg:w-2/6 w-3/6 justify-center ">
                <div class=" md:block hidden relative w-full  ">
                   
                </div>
                <a class="text-lg inline-block md:hidden " routerLink="/dashboard"><img src="../../../assets/images/LOGO.svg"></a>
            </li>
            <li class="flex justify-center items-center ">
                <div class=" justify-center items-center md:flex hidden flex-row">
                    <div class=" items-center flex  ">
                        <div>
                            <img class=" rounded-full  w-12 h-12"
                                src="../../assets/images/WhatsApp Image 2022-04-04 at 11.23.43 PM.jpeg">
                        </div>
                        <div class="relative z-30 capitalize">
                            <i class="bi bi-chevron-down cursor-pointer px-2 " (click)="showProfile()"></i>
                        </div>
                    </div>
                </div>

                <div (click)="showNavbar()" class="md:hidden block">
                    <i class="bi bi-three-dots-vertical text-xl cursor-pointer"></i>
                </div>
            </li>
        </ul>
    </div>

</div>

<!--  profile for small screens -->

<div [ngClass]="{'show--nav':navbarIsopen ,'hide--nav':!navbarIsopen}"
    class="fixed top-20 flex flex-row w-[90%] m-auto left-0 right-0  bg-white items-center justify-between rounded-full py-1 px-2 md:hidden shadow z-50   ">
    <div class="  relative w-4/6 ">

    </div>

    <div class=" items-center w-1/6 flex justify-end  ">
        <img (click)="showProfile()" class=" rounded-full  w-12 h-12 cursor-pointer "
            src="../../assets/images/WhatsApp Image 2022-04-04 at 11.23.43 PM.jpeg">
    </div>
</div>

<!-- user profile box -->
<div [ngClass]="{'show--profile':profileIsOpen ,'hide--profile':!profileIsOpen} "
    class="bg-white border-[0.5px] border-gray-100 shadow-md md:w-[250px] w-[90%] items-center fixed right-[5%]  rounded-3xl md:translate-y-[25%] translate-y-[60%] py-5  md:rounded-xl  leading-7 flex-col flex  z-50 mt-2    ">
    <div class="pb-4">
        <img class=" rounded-full  w-[100px] h-[100px]"
            src="../../assets/images/WhatsApp Image 2022-04-04 at 11.23.43 PM.jpeg">

    </div>
    <span>
        nesma samir
    </span>
    <!-- <span class="border-[0.5px] border-[#ff893b] px-5 rounded-sm ">
        <a routerLink="">
            logout
        </a>
    </span> -->
</div>